@use '../../styles/mixins.scss' as *;
@use '../../styles/abstracts/functions' as *;
@use '../../styles/queries.scss' as *;
@use '../../styles/type.scss' as *;

.inputWrap {
  width: 100%;

}



.input {
  width: 100%;
  font-family: system-ui;
  border-radius: 10px;
  box-shadow: none;
  height: 45px;
  line-height: calc(var(--base) * 2);
  padding: 10px 10px;
  font-size: 16px;
  @include gthemed { 
    background-color: t('text');
    color: t('bg');
    border: 1px solid t('bg'); 
  }
  
  .removeArrow{
    &:-webkit-inner-spin-button,
    &:-webkit-outer-spin-button
    {
      -webkit-appearance: none !important;
      appearance: none !important;
      margin: 0;
    }
  }

  &:focus {
    border: none;
    outline: none;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    @include gthemed { 
        background-color: t('text') !important;
        color: t('bg') !important; 
        -webkit-text-fill-color: t('bg');
        -webkit-box-shadow: 0 0 0px 1000px t('text') inset;
      }
   
    transition: background-color 5000s ease-in-out 0s !important;
  }

 

}

.asterisk {
 @extend %asterisk;
}

.error {
    @include gthemed{
        background-color: t('error-bg');
      }
}

.label {
@extend %label;
}

.errorMessage {
  font-size: small;
  line-height: 1.25;
  margin-top: 4px;
  @include gthemed{
    color: t('error-text');
  }
}
