@use '../../styles/queries.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/type.scss' as *;
@use '../../styles/abstracts/functions' as *;

.dropdownWrapper{
   label {
    @extend %label;
    span{
        @extend %asterisk;
    }
   }
.dropdownContainer{
    position: relative;
    display: inline-block;
    @include gthemed { 
        background-color: t('text');
        color: t('bg'); 
      }
.inputWrapper{
        align-items: center;
        background-color: inherit;
        @include gthemed {
            border: 1px solid var(--primary-color);
        }
        border-radius: 3px;
        border-color:var(--color-base-550);
        color : var(--color-base-1000);
        display: flex;
        font-size: inherit;
        width: 100%;
        padding: 0.5em;
        @include flexContainer($dir: row, $justify: space-between, $align: center);


                .input {
                    outline: none;
                    padding: 5px;
                    border: none;
        
                    @include gthemed {
                        background-color: t('text');
                        color: t('bg');
                    }
        
                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus {
                        @include gthemed {
                            background-color: t('text') !important;
                            color: t('bg') !important;
                            -webkit-text-fill-color: t('bg');
                            -webkit-box-shadow: 0 0 0px 1000px t('text') inset;
                        }
        
                        transition: background-color 5000s ease-in-out 0s !important;
                    }
                }
        
                .arrow {
                    @include gthemed {
                        color: t('bg');
                    }
                }
        
                }
        
                ul {
                    list-style-type: none;
                    padding: 0;
                    position: absolute;
                    top: 45px;
                    width: 100%;
                    z-index: 1000;
                    height: 270px;
                    overflow-y: auto;
        display: inline-block;
        margin: 0;
        li {
            list-style-type: none;
            border: 1px solid transparent;
            margin: 0;
                a {
                    // color : var(--color-base-50);
                    font-size: 13px;
                    @include gthemed {
                        background-color: t('text');
                        color: t('bg');
                    }
                
                &:link {
                    text-decoration: none;
                    display: block;
              padding: 0.5em;
                }
                &:hover{
                    @include gthemed{
                        background-color: t('bg');
                        color: t('text');
                    }
                }
            }
        }
    }
    
.dropdownList{
    background-color: var( --color-base-50);
    border: 1px solid var(--color-base-550);
    border-radius: 3px;
    color: var(--color-base-1000);
    display: none;
  
  }
  .active{
    display: block;
}

}
}


:export {
    selectedItemColor: var(--primary-color );
    unSelectedItemColor: var( --color-base-50);
  }

